.review-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .review-block__item {
    display: flex;
    margin-bottom: 55px;
    flex-basis: 50%; }

.review-img {
  margin-right: 20px; }

.review-info {
  font-weight: 700; }
  .review-info__name {
    color: #757575;
    font-size: 12px;
    margin-bottom: 10px; }
  .review-info__title {
    color: #d91233;
    font-size: 16px;
    margin-bottom: 15px; }
  .review-info__text {
    max-width: 330px;
    color: #2b2b2b;
    font-size: 13px; }

@media (max-width: 768px) {
  .review-block__item {
    flex-basis: 100%;
    justify-content: center; } }
