// == Common ==
.container{
    max-width: 970px;
    margin: 0 auto;
    @media (max-width:991px) {
        max-width: 750px;
    }
    @media (max-width:768px){
        max-width: 100%;
        padding: 0 20px;
    }
}
.section{
    padding: 100px 0;
}
.section__title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}
// == /Common ==