// == Common ==
.container{
    max-width: 970px;
    margin: 0 auto;
    @media (max-width:991px) {
        max-width: 750px;
    }
    @media (max-width:768px){
        max-width: 100%;
        padding: 0 20px;
    }
}
.section{
    padding: 100px 0;
}
.section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section__title{
    margin-bottom: 60px;
}
.section-subtitle{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.section__subtitle{
    margin: 20px 0 60px 0;
}
@mixin button {
    font-size: 18px;
    font-weight: 700;
    border-radius: 40px;
    background: none;
    border: 2px solid #d91233;
    color: #fff;
    background-color: #d91233;
    cursor: pointer;
    @media (max-width:768px){
        font-size: 15px;
    }
}
.button{
    @include button;
    background: none;
    padding: 18px 35px;
    &:hover{
        border: 2px solid none;
        background-color: #d91233;
    }
}
.form{
    &-row{
        display: flex;
        max-width: 620px;
        &_inputs{
            margin-bottom: 45px;
        }
    }
    &-group{
        flex-basis: 50%;
        margin-left: 40px;
        &:first-child{
            margin-left: 0;
        }
    }
    &__label{
        margin-bottom: 10px;
        display: block;
        color: #3b3b3b;
        font-size: 13px;
    }
    &__input{
        border: none;
        display: block;
        width: 100%;
        height: 40px;
        border: none;
    }
    &__button{
        @include button;
        padding: 17px 52px;
        display: block;
        margin: auto;
    }
}

// == /Common ==