// == features ==
.features{
    padding: 100px 0 20px 0;
    &-block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__item{
            text-align: center;
            flex-basis: 33%;
            margin-bottom: 80px;
        }
        &__img{
            margin-bottom: 30px;
        }
        &__title{
            font-weight: 700;
            margin-bottom: 20px;
        }
        &__text{
            font-size: 14px;
            max-width: 240px;
            margin: auto;
        }
    }
    @media (max-width:768px) {
        &-block{
            &__item{
                flex-basis: 100%;
            }
        }
    }
}
// == /features ==