.header{
    background: url(../img/header-bg.png) no-repeat center;
    background-size: cover;
    color: #fff;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212121;
        opacity: 0.85;
        z-index: 5;
    }
    .container{
        position: relative;
        min-height: 100vh;
        z-index: 100;
        display: flex;
        flex-direction: column;
    }
    &-top{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 35px;
    }
    &-logo{
        flex-shrink: 1;
        font-size: 30px;
        color: #5a5a5a;
        line-height: 46px;
        text-transform: uppercase;
    }
    &-contact{
        text-align: right;
        &__number{
            font-size: 28px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            display: block;
        }
        &__call{
            color: #d91233;
        }
    }
    &-content{
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        &-wrapper{
            
        }
    }
    &__title{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle{
        font-size: 30px;
        line-height: 46px;
    }
    &-features{
        display: flex;
        justify-content: space-around;
        max-width: 700px;
        flex-wrap: wrap;
        margin: 100px auto;
        &__item{
            
        }
        &__img{
            margin-bottom: 45px;
            height: 44px;
        }
        &__text{
            max-width: 170px;
            font-size: 18px;
            margin: 0 auto;
        }
    }
    &-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            margin-left: 40px;
            &:first-child{
                margin-left: 0;
            }
        }
        &__button{
            
        }
        &__text{
            margin: 25px auto;
            font-size: 14px;
            max-width: 160px;
        }
    }
    @media (max-width:991px){
        &-features{
            margin: 50px 0;
            &__item{
                flex-basis: 33%;
                margin-bottom: 40px;
            }
        }
        
    }
    @media (max-width:768px) {
        &__title{
            font-size: 35px;
        }
        &__subtitle{
            font-size: 19px;
        }
        &-features{
            &__text{
                font-size: 15px;
            }
        }
    }
    @media (max-width:560px) {
        &-logo{
            margin-bottom: 10px;
        }
        &-top{
            flex-direction: column;
            align-items: center;
        }
        &-features{
            &__img{
                margin-bottom: 10px;
            }
            &__item{
                flex-basis: 100%;
                margin-bottom: 40px;
            }
        }
        &-buttons{
            &__item{
                flex-basis: 100%;
                margin-left: 0;
            }
        }
    }
}