body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
// Common styles
@import '_common.scss';
@import 'fonts.scss';
// Header
@import '_header.scss';
//features
@import '_features.scss';
@import '_brands.scss';